.article-summary .link {
  display: block;
  border-bottom: 1px solid $reallylight;
  @media (min-width: 768px) {
    display: flex;
    padding: 1em 0;
  }
  .featured-image-thumb img {
    max-width: 100%;
    border-radius: 50%;
  }
  .meta {
    flex: 1;
    color: $light;
    margin-right: 2em;
  }
  .post {
    flex: 4;
    margin-right: 2em;
    time {
      color: $light;
    }
    .entry-title {
      margin: 0;
      & a {
        display: block;
        color: $accent;
      }
    }
  }
}
