.article-summary .link {
  display: block;
  border-bottom: 1px solid $gray200;
  padding: 1em 0;
  text-align: center;
  color: $gray700;
  transition: $transition;
  &:hover {
    color: $teal700;
  }
  @media (min-width: 768px) {
    display: flex;
    text-align: left;
  }
  .featured-image-thumb {
    line-height: 0;
  }
  .featured-image-thumb img {
    max-width: 125px;
    border-radius: 50%;
    @media (min-width: 768px) {
      max-width: 100%;
    }
  }
  .meta {
    flex: 1;
    color: $gray600;
    @media (min-width: 768px) {
      margin-right: 2em;
    }
  }
  .post {
    flex: 4;
    align-self: center;
    @media (min-width: 768px) {
      margin-right: 2em;
    }
    time {
      display: none;
      color: $gray600;
    }
    .entry-title {
      margin: 1rem 0;
      font-size: 1.4em;
      line-height: 1.2;
      & a {
        display: block;
      }
    }
  }
}
