footer {
  margin: 2em auto 0 auto;
  font-size: 0.7em;
  text-align: center;
  color: $gray700;
  a {
    color: $gray900;
    padding: 0.25em;
    &:hover {
      color: $gray700;
    }
  }
  .links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    li {
      flex: 1;
    }
  }
}

body.dark footer {
  color: $gray600;
  a {
    color: $gray600;
    &:hover {
      color: $gray500;
    }
  }
}