footer {
  margin: auto;
  padding: 1em;
  font-size: 0.7em;
  text-align: center;
  color: $pearlBush;
  a {
    color: $pearlBush;
    padding: .25em;
    &:hover {
      color: $rawSienna;
    }
  }
}
