footer {
  margin: auto;
  font-size: 0.7em;
  text-align: center;
  color: $pearlBush;
  a {
    color: $pearlBush;
    padding: .25em;
    &:hover {
      color: $rawSienna;
    }
  }
  .links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    li {
      flex: 1;
    }
  }
}
