.global-header {
  padding: 1em 2em;
  display: flex;
  font-size: .8em;
  border-bottom: 1px solid #EEE;
  background: #455A64;
  color: #FFF;
}

.logo {
  flex: 2;
  a {
    color: #FFF;
  }
}

.global-nav {
  flex: 3;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
    li {
      display: inline-block;
      a {
        padding: 10px;
        color: #FFF;
      }
    }
  }
}
