.global-header {
  position: relative;
  padding: 1em;
  background: $gray300;
  @media (min-width: 768px) {
    padding: 1em 2em;
    min-height: 100vh;
    position: fixed;
    width: 200px;
  }
}
body.dark {
  .global-header {
    background: $black;
  }
}
.global-search {
  input {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    margin-top: 2em;
    font-size: 14px;
    padding: 5px;
    background: $gray200;
    border: 1px solid $gray400;
  }
}
body.dark .global-search {
  input{
    background: $gray800;
    color: $white;
    border: 1px solid $gray700;
  }
}
.logo {
  @media (min-width: 768px) {
    text-align: center;
    margin: 2em 1em;
  }
  svg {
    width: 50px;
    height: 50px;
    .logo-fill {
      fill: $gray700;
      transition: $transition;
    }
    @media (min-width: 768px) {
      width: 100px;
      height: 100px;
    }
  }
}

.extra {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}
.extra.is-visible {
  display: block;
}

.global-nav {
  align-self: center;
  text-align: left;
  margin-top: 2rem;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      padding: 0;
      a {
        font-size: 0.85em;
        text-transform: uppercase;
        color: $gray900;
        display: flex;
        svg {
          flex: 1;
          margin-right: 0.75em;
          width: 40px;
          path,
          rect {
            fill: $gray900;
          }
        }
        .icon {
          flex: 1;
          align-self: center;
        }
        .label {
          flex: 4;
          align-self: center;
        }
      }
    }
  }
}
body.dark .global-nav {
  ul {
    li {
      a {
        color: $gray600;
        &:hover {
          color: $gray500;
        }
        svg {
          path, rect {
            fill: $gray600;
          }
        }
      }
    }
  }
}

.menu-button {
  position: absolute;
  right: 20px;
  top: 30px;
  @media (min-width: 768px) {
    display: none;
  }
  span {
    display: block;
    height: 3px;
    width: 30px;
    background: $gray800;
    margin-bottom: 5px;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }
  span:nth-child(1) {
    top: 0px;
  }
  span:nth-child(2) {
    top: 10px;
  }
  span:nth-child(3) {
    top: 20px;
  }
  a {
    display: block;
    padding: 5px;
  }
  .is-visible {
    span:nth-child(1) {
      top: 10px;
      width: 0%;
      left: 50%;
    }
    span:nth-child(2) {
      top: 10px;
      transform: rotate(45deg);
    }
    span:nth-child(3) {
      top: 10px;
      transform: rotate(-45deg);
    }
  }
}

.toggle-mode {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: $gray800;
  &:hover {
    color: $gray600;
  }
}
body.dark .toggle-mode {
  color: $gray600;
  &:hover {
    color: $teal500;
  }
}