.global-header {
  padding: 1em 2em;
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-gap: 2em;
  color: #FFFFFF;
  background: #263238;
}

.logo {
  background: #FFF;
  text-align: center;
  align-self: center;
  a {
    color: #37474F;
    font-size: 1em;
    display: block;
    padding: 1em;
    @media (min-width: 768px) {
      font-size: 3em;
      padding: 0;
    }
  }
}

.global-nav {
  align-self: center;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      a {
        font-size: 1em;
        text-transform: uppercase;
        color: #FFF;
        padding: 10px;
        &:hover {
          color: #00ACC1;
        }
      }
    }
  }
}
