.page {
  @media (min-width: 768px) {
    margin-left: 272px;
  }
}
.main {
  padding: 0 1em 0 1em;
  margin: auto;
  @media (min-width: 768px) {
    padding: 2em;
    max-width: 40rem;
  }
}
.featured-image {
  position: relative;
  margin-bottom: 2em;
  @media (min-width: 768px) {
    margin-bottom: 0;
  }
  img {
    width: 100%;
    z-index: 1;
  }
  .article-header {
    margin-top: 2em;
    @media (min-width: 768px) {
      margin-top: 0;
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: rgba(0, 0, 0, 0.7);
      color: $white;
      padding: 2em;
      width: 80%;
    }
    h1 {
      font-size: 2em;
    }
    p {
      margin: 0;
    }
    a {
      color: $white;
      transition: $transition;
      &:hover {
        color: $teal300;
      }
    }
  }
}

figure {
  margin: 0;
}
figure img {
  max-width: 100%;
}
