.page {
  @media (min-width: 768px) {
    margin-left: 280px;
  }
}
.main {
  padding: 2em;
  max-width: 800px;
  margin: auto;
}
.featured-image {
  img {
    max-width: 100%;
  }
}

figure {
  margin: 0;
}
figure img {
  max-width: 100%;
}
