.main {
  max-width: 1100px;
  margin: auto;
  display: grid;
  padding: 1em;
  @media (min-width: 768px) {
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 2em;
    padding: 2em;
  }
}
.primary {

}
.sidebar {

}
.featured-image {
  img {
    max-width: 100%;
  }
}
.post {
  display: inline-block;
}
.meta {
  display: inline-block;
  margin-right: 2em;
  font-size: 2em;
  color: $light;
}
