.sidebar {
  margin-top: 1em;
  @media (min-width: 768px) {
    border-left: 1px solid #eee;
    padding: 0 1em;
    margin-top: 0;
  }
  ul {
    list-style: none;
    margin: 0 0 2em 0;
    padding: 0;
  }
  h3 {
    margin-top: 0;
    color: $gray800;
  }
}
