body {
  color: $text;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  line-height: 1em;
}

hr {
  border-top: 0;
  border-bottom: 1px solid rgba(0,0,0,.1);
  margin: 2em 0;
}

.entry-title {
  margin: 0;
}
.first-heading {
  margin-top: 0;
}

.post-meta {
  font-size: .8em;
}
