body {
  color: $text;
  word-wrap: break-word; /* force long words to break */
  overflow-wrap: break-word; /* newer syntax standard that replaces word-wrap */
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  line-height: 1em;
}

pre {
  padding: .5em;
}
pre>code {
  font-size: 16px;
  white-space: pre-wrap;

}

hr {
  border-top: 0;
  border-bottom: 1px solid rgba(0,0,0,.1);
  margin: 2em 0;
}

.first-heading {
  margin-top: 0;
}

.post-meta {
  font-size: .8em;
}

.p-name {
  margin-top: 0;
  margin-bottom: 0;
}

.article-header {
  text-align: center;
}
