$background: #eceff1;
$text: #333333;
$accent: #bf360c;
$white: #FFFFFF;
$light: #90A4AE;
$reallylight: rgba(0,0,0,.1);

$bodyFont: "Source Sans Pro";
$headingFont: "Source Sans Pro";
$accentFont: "Rock Salt";
