$background: #f7f7fa;
$text: #333333;
$accent: #DB2C17;
$white: #FFFFFF;
$light: #aaaaaa;
$reallylight: rgba(0,0,0,.1);

$bodyFont: "Source Sans Pro";
$headingFont: "Source Sans Pro";
$accentFont: "Rock Salt";
