@import "normalize";
@import "layout";
@import "type";
@import "header";

body {
  font-family: "Merriweather", serif;
  line-height: 1.618;
  font-size: 20px;
  background: #ECEFF1;
}
a {
  color: #3949AB;
  text-decoration: none;
  &:hover {
    color: #1E88E5;
  }
}
