@import "normalize";
@import "vars";
@import "layout";
@import "type";
@import "header";
@import "sidebar";
@import "footer";
@import "webmentions";
@import "article_summary";
@import "syntax";

body {
  background: $background;
}
a {
  color: $accent;
  text-decoration: none;
  transition: .2s linear;
  &:hover {
    color: $text;
  }
}
