@import "normalize";
@import "vars";
@import "layout";
@import "type";
@import "header";

body {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.618;
  background: $background;
  @media (min-width: 768px) {
    font-size: 20px;
  }
}
a {
  color: $accent;
  text-decoration: none;
  transition: .2s linear;
  &:hover {
    color: $text;
  }
}
