<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <link href="https://fonts.googleapis.com/css?family=Rock+Salt|Source+Sans+Pro:400,700" rel="stylesheet">
    <title>{{ if .Title }} {{ .Title }} | {{ end}}{{ $.Site.Title }}</title>
    {{ if .Site.IsServer }}
      {{ $cssOpts := (dict "targetPath" "styles/main.css" "enableSourceMap" true ) }}
      {{ $styles := resources.Get "scss/main.scss" | toCSS $cssOpts }}
      <link rel="stylesheet" href="{{ $styles.RelPermalink }}" media="screen">
    {{ else }}
      {{ $cssOpts := (dict "targetPath" "styles/main.css" ) }}
      {{ $styles := resources.Get "scss/main.scss" | toCSS $cssOpts | minify | fingerprint }}
      <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">
    {{ end }}
    {{ block "header_scripts" . }}
      <!-- Optional header scripts -->
    {{ end }}
  </head>
  <body>

    {{ partial "header.html" . }}

    <div class="main">
      <div class="primary">
        {{ block "main" . }}
          <!-- Main content here. -->
        {{ end }}
      </div>

      {{ partial "sidebar.html" . }}
    </div>

    {{ partial "footer.html" . }}

    {{ block "footer_scripts" . }}
      <!-- Optional footer scripts. -->
    {{ end }}

  </body>
</html>
