{{ define "main" }}
  <div class="main">
    <article>
      <h1 class="entry-title">{{ .Title }}</h1>
      {{ if isset .Params "featured_image" }}
      {{ $img := resources.Get .Params.featured_image }}
      {{ .Scratch.Set "image" ($img.Fill "1200x800") }}
      {{ $image := .Scratch.Get "image" }}
      <div class="featured-image">
        <img src="{{ $image.RelPermalink }}" />
      </div>
      {{ end }}
      {{ .Content }}
    </article>
  </div>
  <div class="secondary">
    {{ $related := .Site.RegularPages.Related . | first 5 }}
    {{ with $related }}
      <h3 class="first-heading">See Also</h3>
      <ul>
        {{ range . }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
    {{ end }}
  </div>
{{ end }}
