<header class="global-header">
  <div class="logo">
    <a class="h-card" href="/" rel="me">
      {{ partial "logo" }}
    </a>
  </div>
  <div class="menu-button">
    <a href="#extra" class="menu-link">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>
  <div class="extra" id="extra">
    <nav class="global-nav">
      <ul>
        <li>
          <a href="/posts/">
            <div class="icon">
              {{ partial "icons/note" }}
            </div>
            <div class="label">Notes</div>
          </a>
        </li>
        <li>
          <a href="/recipes/">
            <div class="icon">
              {{ partial "icons/whisk" }}
            </div>
            <div class="label">Recipe Box</div>
          </a>
        </li>
      </ul>
    </nav>
    <form action="/search/" role="search" class="global-search">
      <input type="text" placeholder="Search" type="text" name="s">
    </form>
    {{ partial "footer.html" . }}
  </div>
</header>