<header class="global-header">
  <div class="logo">
    <a class="h-card" href="/" rel="me">
      {{ partial "logo" }}
    </a>
  </div>
  <div class="menu-button">
    <a href="#extra" class="menu-link">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>
  <div class="extra" id="extra">
    <nav class="global-nav">
      <ul>
        <li><a href="/about/">About</a></li>
        <li><a href="/categories/recipes/">Recipes</a></li>
        <li><a href="/categories/dev/">Dev</a></li>
      </ul>
    </nav>
    <form action="/search/" role="search" class="global-search">
      <input type="text" placeholder="Search" type="text" name="query">
    </form>
    {{ partial "footer.html" . }}
  </div>
</header>
