<meta name="twitter:site" content="@jeremybise">
<meta name="twitter:creator" content="@jeremybise">
{{ if .IsPage }}
  <meta name="twitter:description" content="{{ .Summary }}" />
  <meta name="twitter:title" content="{{ .Title }}" />
  <meta name="twitter:card" content="summary_large_image" />
  {{ if isset .Params "featured_image" }}
    {{ $img := resources.Get .Params.featured_image }}
    {{ .Scratch.Set "image" ($img.Fill "1200x800") }}
    {{ $image := .Scratch.Get "image" }}
    <meta name="twitter:image" content="{{ $image.Permalink }}" />
  {{ end }}
{{ else }}
  <meta name="twitter:title" content="{{ .Site.Title }}" />
  <meta name="twitter:description" content="{{ .Description }}" />
{{ end }}
