{{ $webmentions := getJSON (printf "https://webmention.io/api/mentions?target=https://jeremybise.com%s" .URL) }}

{{ with $webmentions.links }}
  <hr />
  <div class="webmentions">
    <h3>Webmentions <3</h3>
    <ul>
      {{ range . }}
        <li>
          <strong>{{ .activity.type }}</strong>
          {{ with .data.published }}
            {{ dateFormat "January 2, 2006" . }}
          {{ end }}
          {{ safeHTML .activity.sentence_html }}
        </li>
      {{ end }}
    </ul>
  </div>
{{ end }}
