body{
	margin:0;
	color:#222;
	font-family:"museo-sans",sans-serif;
	font-size:13px;
	font-weight:500;
	line-height:1.25;

	-webkit-text-size-adjust: 100%;
}

h2,
h3,
h4{
	margin:0 0 2px;
	padding:0;
	color:#222;
	font-family:"museo-sans",sans-serif;
	font-weight:700;
	line-height:1;
}

h2{
	font-size:20px;
}

h3{
	font-size:15px;
}

a{
	color:#267ec6;
	text-decoration:none;
}

p{
	margin:0;
	padding:0;
}

ul{
	margin:0;
	padding:0;
	list-style:none;
}


/* Wine Card Styles */

.shipping-states,
.wine-card{
	position:relative;
}

.shipping-states{
	max-width:650px;
	margin:0 auto 15px;
}

/*
.shipping-states{
	max-width:650px;
	margin:0 auto 10px;
}
*/

.shipping-states-footer{
	margin-top:30px;
}

/*
.shipping-states .states-row{
	margin-top:10px;
}
*/

.shipping-states a {
    background-color: transparent;
    border-radius: 4px;
    color: #888;
    cursor: default;
    display: block;
    float: left;
    margin: 6px 3px 0;
    padding: 5px 0;
    text-align: center;
    text-decoration: none;
    width: 40px;
}

/*
.shipping-states a{
	cursor:default;
	display:block;
	float:left;
	width:32.5px;
	margin-bottom:10px;

	color:#555;
	text-decoration:none;
}
*/

.shipping-states.special-process a {
    color: #267ec6;
    cursor: pointer;
    width: 132px;
}

/*
.shipping-states.special-process a{
	cursor:pointer;
	width:135px;
	margin-right:20px;
	padding:10px 0;

	color:#801c7e;
	text-align:center;
	background-color:#f2f1f0;
	border-radius:4px;
}
*/

.wine-card{
	max-width:630px;
	min-height:142px;
	margin:0 auto 15px;
	padding:20px 10px;

	background-color:#fff;
	border:1px solid #bbb;
	border-radius:4px;
}

.wine-card.future{
	border-width:2px;
	border-color:#75a3c9;
}

.wine-card > div{
	float:left;
	margin:0 10px;
}

.wine-label img{
	display:block;
	max-width:158px;
	max-height:248px;
	border:1px solid #ddd;
}

/*
.wine-card .wine-info{
	width:38%;
}
*/

.wine-card .wine-info{
	width:310px;
}

.wine-info p.appalation{
	font-size:11px;
}

.label-future{
	max-width:80px;
	margin:5px 0;
	padding:8px 0;

	color:#fff;
	text-align:center;
	background-color:#75a3c9;
	border-radius:4px;
}

.wine-info p.msrp{
	margin-top:5px;
	margin-bottom:-5px;
	color:#888;
	font-size:18px;
	text-decoration:line-through;
}

.wine-info p.price{
	margin-top:2px;
	color:#888;
	font-size:30px;
	font-weight:700;
}

.wine-info p.price small{
	display:inline-block;
	color:#bbb;
	font-size:15px;
	font-weight:500;
}

.wine-detail-toggle{
	display:none;
}

.wine-info .wine-detail{
	margin-top:5px;
	color:#555;
}

.wine-card .wine-basket{
	position:absolute;
	top:20px;
	right:10px;
	width:100px;
}


/* Select Styles */

.styled-select{
	position:relative;
	height:34px;
	margin-bottom:20px;

	background-color:#eee;
	border-radius:4px;
	overflow: hidden;
}

.styled-select:before{
	content:'\25BE';
	cursor:pointer;
	position:absolute;
	right:10px;
	top:20%;
	color:#888;
	pointer-events:none;
}

.ie8 .styled-select,
.ie9 .styled-select,
.ie8 .styled-select:before,
.ie9 .styled-select:before{
	visibility:hidden;
}

.styled-select select{
	cursor:pointer;
	width:100%;
	height:34px;
	padding:0 10px;

	color:#555;
	font-family:"museo-sans",sans-serif;
	font-size:15px;
	font-weight:300;
	line-height:1;

	background-color:transparent;
	border:0;

	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
}

.ie8 .styled-select select,
.ie9 .styled-select select{
	visibility:visible;
	padding:0;
	background-color:#ddd;
}

.styled-select select::-ms-expand{/* hides select arrow in ie10 up */
	display:none;
}

.styled-select select option{
	padding:5px;
	background-color:#fff;
	border:none;
	outline:none;
	box-shadow:none;
}

.styled-select select:active,
.styled-select select:focus{
	color:#222;
	background-color:#eee;
	border:none;
	outline:none;
	box-shadow:none;
}

.wine-basket select:-moz-focusring{/* hides firefox focus box */
	color:transparent;
	text-shadow:0 0 0 #222;
}


/* Button Styles */

a.button,
button{
	cursor:pointer;
	height:34px;
	padding:0 5px;

	color:#fff;
	font-family:"museo-sans",sans-serif;
	font-size:15px;
	font-weight:500;
	line-height:1;
	text-align:center;

	background-color:#267ec6;
	border:1px solid #267ec6;
	border-radius:4px;
}

a.button{
	display:block;
	line-height:34px;
	text-decoration:none;
}

a.button.ghost-button,
button.ghost-button{
	color:#267ec6;
	background-color:#fff;
}

a.button.large-button,
button.large-button{
	height:48px;
	line-height:48px;
}

a.button:hover,
a.button:focus,
a.button:active,
button:hover,
button:focus,
button:active{
	color:#fff;
	background-color:#5e0405;
	border:1px solid #5e0405;
}

button:-moz-focusring{/* hides firefox focus box */
	color:transparent;
	text-shadow:0 0 0 #fff;
}

.wine-basket button{
	width:100px;
}


/* Cart Styles */

.cart-wrapper{
	padding:20px 30px 30px;
}

.cart-wrapper-icon{
	height:40px;
}

ul.cart-listing{
	margin-bottom:15px;
	border-top:1px solid #c5d0d6;
}

ul.cart-listing li{
	position:relative;
	padding:15px 0;
	border-bottom:1px solid #c5d0d6;
}

.cart-label{
	float:left;
	margin-right:15px;
}

.cart-label img{
	display:block;
	max-width:98px;
	max-height:198px;
	border:1px solid transparent;
}

.cart-info{
	float:left;
	max-width:200px;
}

.cart-name{
	font-size:15px;
}

.cart-quantity{
	margin:5px 0 -8px;
	color:#7d8d93;
	font-size:60px;
	font-weight:900;
	line-height:1;
}

.cart-price{
	position:absolute;
	bottom:15px;
	right:0;
	font-size:18px;
}

a.cart-remove{
	position:absolute;
	display:block;
	top:15px;
	right:0;
	width:15px;
	height:15px;
	text-decoration:none;
	background:transparent url(/static/img/iframe/v2/vs-wine-remove.svg) left top no-repeat;
}

.ie8 a.cart-remove{
	background-image:url(/static/img/iframe/v2/vs-wine-remove.png);
}

.cart-discount{
	margin-bottom:5px;
	color:#7d8d93;
	font-size:15px;
}

.cart-subtotal{
	margin-bottom:30px;
	font-size:18px;
}

.cart-discount span,
.cart-subtotal span{
	float:right;
	font-weight:900;
}

.cart-wrapper a.button{
	cursor: pointer;
	margin: 0 30px 20px;
	padding: 5px 15px;
	vertical-align: middle;
	white-space: nowrap;
}

/* error message styles */

.alert p {
	margin-bottom:10px;
}


/* Clearfix Styles */

.clearfix:before,
.clearfix:after{
	content:" ";
	display:table;
}
.clearfix:after{
	clear:both;
}
.clearfix{
	*zoom:1;
}


/* Sold Out Styles */

.sold-out a.button,
.sold-out button{
	color:#fff;
	background-color:#bbb;
	border-color:#bbb;
}

.sold-out a.button:hover,
.sold-out a.button:focus,
.sold-out button:hover,
.sold-out button:focus{
	cursor:default;
	color:#fff;
	background-color:#bbb;
	border-color:#bbb;
}


/* Responsive Styles */

@media only screen and (max-width:649px){

	.wine-card .wine-info{
		width:37%;
	}

}

@media only screen and (max-width:510px){
/* @media only screen and (max-width:768px){ */

	.shipping-states{
		max-width:450px;
	}

	.wine-card{
		max-width:430px;
	}

	.wine-label img{
		max-width:98px;
	}

	.wine-card .wine-info{
		width:170px;
	}

	.wine-card .wine-info .wine-detail-toggle.wine-detail-show{
		display:block;
	}

	.wine-card.wine-detail-mobile-display .wine-info .wine-detail-toggle.wine-detail-show{
		display:none;
	}

	.wine-card.wine-detail-mobile-display .wine-info .wine-detail-toggle.wine-detail-hide{
		display:block;
	}

	.wine-card .wine-info p.appalation,
	.wine-card .wine-info .wine-detail{
		display:none;
		margin-bottom:15px;
		text-align:left;
	}

	.wine-card.wine-detail-mobile-display .wine-info .wine-detail{
		display:block;
	}

}

@media only screen and (max-width:430px){

	.shipping-states{
		max-width:290px;
	}

	.wine-card{
		max-width:270px;
		text-align:center;
	}

	.wine-card > div{
		float:none;
	}

	.wine-card .wine-label img{
		max-width:148px;
		margin:0 auto 15px;
	}

	.wine-card .wine-info{
		width:auto;
		margin-bottom:15px;
	}

	.label-future{
		margin-left:auto;
		margin-right:auto;
	}

	.wine-card .wine-basket{
		position:relative;
		top:auto;
		right:auto;
		width:260px;
		margin:0 auto;
	}

	.wine-basket .styled-select{
		float:left;
		width:120px;
		margin:0 5px;
	}

	.wine-basket button{
		width:120px;
		margin:0 5px;
	}

}

@media only screen and (max-width:380px){

	.cart-wrapper{
		padding:20px;
		font-size:11px;
	}

	.cart-info{
		max-width:135px;
	}

	.cart-name{
		font-size:13px;
	}

	.cart-quantity{
		margin-top:2px;
	}

}
